<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>demo-api</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
	<h1>Demo API</h1>
	<p>
		Build JDK <span th:text="${buildJdk}"></span>
	</p>
	<p>
		Created with <span th:text="${createdBy}"></span>
	</p>
	<p>
		Running on JRE <span th:text="${javaVersion}"></span>
	</p>
	<p>
		POD name <span th:text="${hostName}"></span>
	</p>
	<p>
		<a th:href="@{/swagger-ui.html}">Swagger</a>
	</p>
	<p>
		<a th:href="@{/v3/api-docs}">API docs</a>
	</p>
</body>
</html>